@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Video Manager</h2>

<p>&nbsp;</p>

<table style="width:95%;">
    <tr>
        <td>
            <div style="text-align:center;padding-bottom:20px;">
                <a href="/Admin/VideoManager/VideoList">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/VideoManager.png" border="0" /><br />
                    Video Manager
                </a>
            </div>
        </td>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/VideoAlbumManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/VideoManager.png" border="0" /><br />
                    Video Album Manager
                </a>
            </div>
        </td>
    </tr>

</table>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


