@model IEnumerable<digioz.Portal.Web.Areas.Admin.ViewModels.CommentPostViewModel>
@using digioz.Portal.Web.Extensions
@{
    ViewBag.Title = "Comment Posts List";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 10);
}

@grid.GetHtml(
    tableStyle: "gridtable table table-bordered",
    columns: new[] {
    grid.Column("Username"),
    grid.Column("ReferenceType", "Type"),
    grid.Column("ModifiedDate", "Date"),
    grid.Column("Likes"),
    grid.Column("",
        header: "Actions",
        format: @<text>
            @Html.Raw(
                    Html.ActionImage("Details", new { Id = item.Id }, "~/Content/images/icons/16x16/Search.png", imageAttributes: new { alt = "Details", @class = "icon" },
                        linkAttributes: new { title = "Details" }).ToString() + " " +
                    Html.ActionImage("Edit", new { Id = item.Id }, "~/Content/images/icons/16x16/Edit.png", imageAttributes: new { alt = "Edit", @class = "icon" },
                        linkAttributes: new { title = "Edit" }).ToString() + " " +
                    Html.ActionImage("Delete", new { Id = item.Id }, "~/Content/images/icons/16x16/Cancel.png", imageAttributes: new { alt = "Delete", @class = "icon" },
                        linkAttributes: new { title = "Delete"}).ToString()
            )
        </text>
        )
})

<div>
    @Html.ActionLink("Back to Comment Menu", "Index", "CommentManager")
</div>
