
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Dashboard</h2>

<p>&nbsp;</p>

<table style="width:95%;">
    <tr>
        <td>
            <div style="text-align:center;padding-bottom:20px;">
                <a href="/Admin/Dashboard">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/Home.png" border="0" /><br />
                    Dashboard
                </a>
            </div>
        </td>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/PageManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/PageManager.png" border="0" /><br />
                    Page Manager
                </a>
            </div>
        </td>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/ConfigurationManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/Configuration.png" border="0" /><br />
                    Configuration
                </a>
            </div>
        </td>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/DatabaseUtilities">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/DatabaseUtilities.png" border="0" /><br />
                    Database Utilities
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/FileManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/FileManager.png" border="0" /><br />
                    File Manager
                </a>
            </div>
        </td>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/PluginManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/PluginManager.png" border="0" /><br />
                    Plugin Manager
                </a>
            </div>
        </td>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/ForumManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/ForumManager.png" border="0" /><br />
                    Forum Manager
                </a>
            </div>
        </td>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/PollManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/PollManager.png" border="0" /><br />
                    Poll Manager
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/StatisticsManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/Statistics.png" border="0" /><br />
                    Statistics
                </a>
            </div>
        </td>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/MenuManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/MenuManager.png" border="0" /><br />
                    Menu Manager
                </a>
            </div>
        </td>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/UserManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/UserManager.png" border="0" /><br />
                    User Manager
                </a>
            </div>
        </td>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/UserRoleManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/UserRoleManager.png" border="0" /><br />
                    User Role Manager
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/AnnouncementsManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/Announcements.png" border="0" /><br />
                    Announcements
                </a>
            </div>
        </td>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/PictureManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/PictureManager.png" border="0"/><br/>
                    Picture Manager
                </a>
            </div>
        </td>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/VideoManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/VideoManager.png" border="0"/><br/>
                    Video Manager
                </a>
            </div>
        </td>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/LinkManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/LinkManager.png" border="0"/><br/>
                    Link Manager
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/ChatManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/ChatManager.png" border="0" /><br />
                    Chat Manager
                </a>
            </div>
        </td>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/ProductManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/product.png" border="0"/><br/>
                    Product Manager
                </a>
            </div>
        </td>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/ProductCategoryManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/product_category.png" border="0"/><br/>
                    Product Category
                </a>
            </div>
        </td>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/OrderManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/order.png" border="0"/><br/>
                    Order Manager
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/MailingListManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/MailingList.png" border="0"/><br/>
                    Mailing List
                </a>
            </div>
        </td>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/ModuleManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/ModuleManager.png" border="0"/><br/>
                    Module Manager
                </a>
            </div>
        </td>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/SlideShowManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/SlideShow.png" border="0" /><br />
                    Slide Show Manager
                </a>
            </div>
        </td>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/CommentManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/Comments.png" border="0" /><br />
                    Comment Manager
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="/Admin/RSSManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/Content/images/icons/64x64/Rss.png" border="0" /><br />
                    News Aggregator
                </a>
            </div>
        </td>
        
    </tr>
</table>


