@using digioz.Portal.Domain.DomainModel
@model List<LinkCategory>

@{
    ViewBag.Title = "Links";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var category in Model)
{
    <div class="list-group dont-break-out">
        <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">@category.Name</h4>
        </a>

        @{Html.RenderAction("LinkBox", "Links", new { id = category.ID });}
    </div>
}

